%overlay{
	@include section-overly();
}
%transition-all{
	@include transition-all($transition)
}
%before{
	@include absolute-position(0,50%,0,-10%);
}
.column-gap-0{
	padding: 0;
}
.center{
	text-align:center;
}
.clearfix{
	@extend %clearfix ;
}
.section-title{
	text-align:center;
	display: block;
    max-width: 650px;
    margin: 0px auto 50px;
	
}
.primary-title{
		position:  relative ;
		padding-bottom: 20px;
		color: $secondary-color ;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 15px;
		font-size: 40px;
		@include respond-to(tablet-screens){
			font-size: 30px;
		};
		@include respond-to(xs-screens){
			font-size: 20px;
		};
		&:after{
			@include  absolute-position(auto,0,0,0);
			background:$secondary-color;
			margin: auto;
			width: 45px;
			height: 2px;
		}
	}
/*
	default secondary title
*/
.secondary-title{
	color: $secondary-color ;
	text-transform: uppercase;
	@include respond-to(xs-screens){
		font-size: 20px;
		margin-bottom: 30px;
	};
}
/*
	default-btn
*/
.default-btn{
	line-height: 100%;
	@include button(15px 20px , 2px solid $primary-border-color , $secondary-border-color);
	text-transform:uppercase;
	@include respond-to(xs-screens){
		padding:10px;
		font-size: 14px;
		margin-top: 30px;
	};
	&:hover{
		border-color:$secondary-border-color ;
		color:$secondary-border-color; 
	}
	i{
		margin-left: 10px;
	}
}