.header{
	margin-bottom:90px ;
}
section{
	@extend .header ;
}
.main-menu-area{
	background: $primary-color;
	padding: 25px 0;
}
.main-menu{
	display: inline-block;
    float: right;
	li{
		display: inline-block;
		a{
			padding: 10px 20px;
			display: block; 
			color:$body-bg-color ;
			position: relative;
			text-transform: uppercase;
			&:after{
				@include absolute-position(auto ,0,0,0) ;
				background:$secondary-color;
				width: 40px;
				height: 2px;
				margin: auto;
				// @include opacity(0) ;
				transform: scale(0);
				transform-origin: center ;
				@include transition-all($transition);
			}
			&:hover{
				&:after{
					// @include opacity(1) ;
					transform: scale(1);
				}
			}


		}
	}
}

