.team-image{
	position:relative ;
	overflow: hidden;
	margin-bottom:20px;
	> a{
		display: block ;
		@extend %overlay ;
		&:before{
			background: $team-overlay-color;
			opacity: 0 ;
		}	
	}
	img{
		width: 100% ;
		@extend %transition-all ;
	}
	.social-icon{
	    @include position-center(both)
	    top: -50%;
		@extend %transition-all ;
	}
}

.social-icon{
	a{
	    width: 35px;
	    height: 35px;
	    display: inline-block;
	    color: $body-bg-color;
	    line-height: 35px;
	    text-align: center;
	    @include border-radius(50%)
	    border: 1px solid $body-bg-color;
	    + a {
	    	margin-left: 10px;
	    }
	    &:hover{
	    	border-color : $secondary-border-color ;
	    	background:#000 ;
	    }
	}

}
.team-details{
	text-align: center;
    border: 1px solid $primary-border-color;
    padding: 10px;
	@extend %transition-all ;

	h2{
		margin-bottom: 0;
		text-transform: uppercase;
	}
	p{
		margin-bottom: 0 ;
		text-transform: uppercase;

	}
}

.team-member{
	&:hover{
		a{
			&:before{
				opacity: 1 ;
			}
		}
		.social-icon{
			top: 50%;
		}
		.team-details{
    		border-color:$secondary-border-color;
		}
	}
}