{
  "name": "ioanise",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "Corporate",
      "Corporate/assets",
      "Corporate/assets/_scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "Corporate/assets/_scss/styles.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/__vendor-dir.scss",
        "Corporate/assets/_scss/abstracts/__abstracts-dir.scss",
        "Corporate/assets/_scss/base/__base-dir.scss",
        "Corporate/assets/_scss/components/__components-dir.scss",
        "Corporate/assets/_scss/layouts/__layouts-dir.scss",
        "Corporate/assets/_scss/vendor/font-awesome/_font-awesome.scss",
        "Corporate/assets/_scss/vendor/normalize/_normalize.scss",
        "Corporate/assets/_scss/vendor/bootstrap/_bootstrap.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/_SlideMenus.scss",
        "Corporate/assets/_scss/vendor/slick/_slick.scss",
        "Corporate/assets/_scss/vendor/flaticon/_flaticon.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/_owl.scss",
        "Corporate/assets/_scss/abstracts/_variables.scss",
        "Corporate/assets/_scss/abstracts/_function.scss",
        "Corporate/assets/_scss/abstracts/_mixins.scss",
        "Corporate/assets/_scss/base/_global.scss",
        "Corporate/assets/_scss/base/_typography.scss",
        "Corporate/assets/_scss/base/_placeholder.scss",
        "Corporate/assets/_scss/components/_breadcrumb.scss",
        "Corporate/assets/_scss/components/_back-to-top.scss",
        "Corporate/assets/_scss/components/_button.scss",
        "Corporate/assets/_scss/components/_secondary-title.scss",
        "Corporate/assets/_scss/components/_primary-title.scss",
        "Corporate/assets/_scss/components/_section-intro.scss",
        "Corporate/assets/_scss/components/_counter.scss",
        "Corporate/assets/_scss/components/_service.scss",
        "Corporate/assets/_scss/components/_social-icon.scss",
        "Corporate/assets/_scss/components/_phone.scss",
        "Corporate/assets/_scss/components/_address.scss",
        "Corporate/assets/_scss/components/_widgetized-menu.scss",
        "Corporate/assets/_scss/components/_team-member.scss",
        "Corporate/assets/_scss/components/_contact-box.scss",
        "Corporate/assets/_scss/components/_progressbar.scss",
        "Corporate/assets/_scss/components/_processing-columns.scss",
        "Corporate/assets/_scss/components/_client-list.scss",
        "Corporate/assets/_scss/components/_pagination.scss",
        "Corporate/assets/_scss/components/_widgets.scss",
        "Corporate/assets/_scss/components/_cta.scss",
        "Corporate/assets/_scss/layouts/_lo-page-title.scss",
        "Corporate/assets/_scss/layouts/_lo-header-top.scss",
        "Corporate/assets/_scss/layouts/_lo-header.scss",
        "Corporate/assets/_scss/layouts/_lo-main-menu.scss",
        "Corporate/assets/_scss/layouts/_lo-slider.scss",
        "Corporate/assets/_scss/layouts/_lo-about.scss",
        "Corporate/assets/_scss/layouts/_lo-our-services.scss",
        "Corporate/assets/_scss/layouts/_lo-fun-facts.scss",
        "Corporate/assets/_scss/layouts/_lo-choose-us.scss",
        "Corporate/assets/_scss/layouts/_lo-recent-project.scss",
        "Corporate/assets/_scss/layouts/_lo-cta-content.scss",
        "Corporate/assets/_scss/layouts/_lo-team.scss",
        "Corporate/assets/_scss/layouts/_lo-testimonial.scss",
        "Corporate/assets/_scss/layouts/_lo-client-carosel.scss",
        "Corporate/assets/_scss/layouts/_lo-blog.scss",
        "Corporate/assets/_scss/layouts/_lo-map.scss",
        "Corporate/assets/_scss/layouts/_lo-footer.scss",
        "Corporate/assets/_scss/layouts/about/_lo-skills.scss",
        "Corporate/assets/_scss/layouts/_lo-slider-caption.scss",
        "Corporate/assets/_scss/layouts/contact/_lo-contact-us.scss",
        "Corporate/assets/_scss/layouts/contact/_lo-contact-form.scss",
        "Corporate/assets/_scss/layouts/services/_lo-how-we-work.scss",
        "Corporate/assets/_scss/layouts/portfolio/_lo-portfolio.scss",
        "Corporate/assets/_scss/layouts/portfolio/_lo-portfolio-single.scss",
        "Corporate/assets/_scss/layouts/blog/_lo-blog-list.scss",
        "Corporate/assets/_scss/layouts/blog/_lo-single.scss",
        "Corporate/assets/_scss/layouts/Faq/_lo-faq.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_variables.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_mixins.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_path.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_core.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_larger.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_fixed-width.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_list.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_bordered-pulled.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_animated.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_rotated-flipped.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_stacked.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_icons.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_screen-reader.scss",
        "Corporate/assets/_scss/vendor/normalize/_support-for.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_variables.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_vertical-rhythm.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_normalize-mixin.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_variables.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_mixins.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_normalize.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_print.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_glyphicons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_scaffolding.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_type.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_code.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_grid.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_tables.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_forms.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_buttons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_component-animations.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_dropdowns.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_button-groups.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_input-groups.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_navs.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_navbar.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_breadcrumbs.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_pagination.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_pager.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_labels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_badges.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_jumbotron.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_thumbnails.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_alerts.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_progress-bars.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_media.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_list-group.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_panels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_responsive-embed.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_wells.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_close.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_modals.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_tooltip.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_popovers.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_carousel.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_utilities.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_responsive-utilities.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_config.variables.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_generic.fonts.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_generic.boxsizing.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.root.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.headings.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.text.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.media.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_objects.layout.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.menus.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.mask.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.buttons.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.carbonad.scss",
        "Corporate/assets/_scss/vendor/slick/slick/_slick-default.scss",
        "Corporate/assets/_scss/vendor/slick/slick/_slick-theme.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.carousel.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.theme.default.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.theme.green.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_hide-text.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_opacity.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_image.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_labels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_reset-filter.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_resize.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_responsive-visibility.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_size.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_tab-focus.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_reset-text.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_text-emphasis.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_text-overflow.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_vendor-prefixes.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_alerts.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_buttons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_panels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_pagination.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_list-group.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_nav-divider.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_forms.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_progress-bar.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_table-row.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_background-variant.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_border-radius.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_gradients.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_clearfix.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_center-block.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_nav-vertical-align.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_grid-framework.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_grid.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_core.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_animate.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_autoheight.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_lazyload.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_video.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.default.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.green.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/abstracts/__abstracts-dir.scss",
      "imports": [
        "Corporate/assets/_scss/abstracts/_variables.scss",
        "Corporate/assets/_scss/abstracts/_function.scss",
        "Corporate/assets/_scss/abstracts/_mixins.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/base/__base-dir.scss",
      "imports": [
        "Corporate/assets/_scss/base/_global.scss",
        "Corporate/assets/_scss/base/_typography.scss",
        "Corporate/assets/_scss/base/_placeholder.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/components/__components-dir.scss",
      "imports": [
        "Corporate/assets/_scss/components/_breadcrumb.scss",
        "Corporate/assets/_scss/components/_back-to-top.scss",
        "Corporate/assets/_scss/components/_button.scss",
        "Corporate/assets/_scss/components/_secondary-title.scss",
        "Corporate/assets/_scss/components/_primary-title.scss",
        "Corporate/assets/_scss/components/_section-intro.scss",
        "Corporate/assets/_scss/components/_counter.scss",
        "Corporate/assets/_scss/components/_service.scss",
        "Corporate/assets/_scss/components/_social-icon.scss",
        "Corporate/assets/_scss/components/_phone.scss",
        "Corporate/assets/_scss/components/_address.scss",
        "Corporate/assets/_scss/components/_widgetized-menu.scss",
        "Corporate/assets/_scss/components/_team-member.scss",
        "Corporate/assets/_scss/components/_contact-box.scss",
        "Corporate/assets/_scss/components/_progressbar.scss",
        "Corporate/assets/_scss/components/_processing-columns.scss",
        "Corporate/assets/_scss/components/_client-list.scss",
        "Corporate/assets/_scss/components/_pagination.scss",
        "Corporate/assets/_scss/components/_widgets.scss",
        "Corporate/assets/_scss/components/_cta.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/layouts/__layouts-dir.scss",
      "imports": [
        "Corporate/assets/_scss/layouts/_page-title.scss",
        "Corporate/assets/_scss/layouts/_header-top.scss",
        "Corporate/assets/_scss/layouts/_header.scss",
        "Corporate/assets/_scss/layouts/_main-menu.scss",
        "Corporate/assets/_scss/layouts/_slider.scss",
        "Corporate/assets/_scss/layouts/_about.scss",
        "Corporate/assets/_scss/layouts/_our-services.scss",
        "Corporate/assets/_scss/layouts/_fun-facts.scss",
        "Corporate/assets/_scss/layouts/_choose-us.scss",
        "Corporate/assets/_scss/layouts/_recent-project.scss",
        "Corporate/assets/_scss/layouts/_cta-content.scss",
        "Corporate/assets/_scss/layouts/_team.scss",
        "Corporate/assets/_scss/layouts/_testimonial.scss",
        "Corporate/assets/_scss/layouts/_client-carosel.scss",
        "Corporate/assets/_scss/layouts/_blog.scss",
        "Corporate/assets/_scss/layouts/_map.scss",
        "Corporate/assets/_scss/layouts/_footer.scss",
        "Corporate/assets/_scss/layouts/about/_skills.scss",
        "Corporate/assets/_scss/layouts/_slider-caption.scss",
        "Corporate/assets/_scss/layouts/contact/_contact-us.scss",
        "Corporate/assets/_scss/layouts/contact/_contact-form.scss",
        "Corporate/assets/_scss/layouts/services/_how-we-work.scss",
        "Corporate/assets/_scss/layouts/portfolio/_portfolio.scss",
        "Corporate/assets/_scss/layouts/portfolio/_portfolio-single.scss",
        "Corporate/assets/_scss/layouts/blog/_blog-list.scss",
        "Corporate/assets/_scss/layouts/blog/_single.scss",
        "Corporate/assets/_scss/layouts/Faq/_faq.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/__vendor-dir.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/font-awesome/_font-awesome.scss",
        "Corporate/assets/_scss/vendor/normalize/_normalize.scss",
        "Corporate/assets/_scss/vendor/bootstrap/_bootstrap.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/_SlideMenus.scss",
        "Corporate/assets/_scss/vendor/slick/_slick.scss",
        "Corporate/assets/_scss/vendor/flaticon/_flaticon.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/_owl.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_variables.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_mixins.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_path.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_core.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_larger.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_fixed-width.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_list.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_bordered-pulled.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_animated.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_rotated-flipped.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_stacked.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_icons.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_screen-reader.scss",
        "Corporate/assets/_scss/vendor/normalize/_support-for.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_variables.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_vertical-rhythm.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_normalize-mixin.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_variables.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_mixins.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_normalize.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_print.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_glyphicons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_scaffolding.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_type.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_code.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_grid.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_tables.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_forms.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_buttons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_component-animations.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_dropdowns.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_button-groups.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_input-groups.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_navs.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_navbar.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_breadcrumbs.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_pagination.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_pager.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_labels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_badges.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_jumbotron.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_thumbnails.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_alerts.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_progress-bars.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_media.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_list-group.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_panels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_responsive-embed.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_wells.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_close.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_modals.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_tooltip.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_popovers.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_carousel.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_utilities.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_responsive-utilities.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_config.variables.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_generic.fonts.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_generic.boxsizing.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.root.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.headings.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.text.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.media.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_objects.layout.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.menus.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.mask.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.buttons.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.carbonad.scss",
        "Corporate/assets/_scss/vendor/slick/slick/_slick-default.scss",
        "Corporate/assets/_scss/vendor/slick/slick/_slick-theme.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.carousel.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.theme.default.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.theme.green.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_hide-text.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_opacity.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_image.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_labels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_reset-filter.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_resize.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_responsive-visibility.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_size.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_tab-focus.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_reset-text.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_text-emphasis.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_text-overflow.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_vendor-prefixes.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_alerts.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_buttons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_panels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_pagination.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_list-group.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_nav-divider.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_forms.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_progress-bar.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_table-row.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_background-variant.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_border-radius.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_gradients.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_clearfix.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_center-block.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_nav-vertical-align.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_grid-framework.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_grid.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_core.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_animate.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_autoheight.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_lazyload.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_video.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.default.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.green.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/bootstrap/_bootstrap.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_variables.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_mixins.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_normalize.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_print.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_glyphicons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_scaffolding.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_type.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_code.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_grid.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_tables.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_forms.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_buttons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_component-animations.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_dropdowns.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_button-groups.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_input-groups.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_navs.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_navbar.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_breadcrumbs.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_pagination.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_pager.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_labels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_badges.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_jumbotron.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_thumbnails.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_alerts.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_progress-bars.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_media.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_list-group.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_panels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_responsive-embed.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_wells.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_close.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_modals.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_tooltip.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_popovers.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_carousel.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_utilities.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_responsive-utilities.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_hide-text.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_opacity.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_image.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_labels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_reset-filter.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_resize.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_responsive-visibility.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_size.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_tab-focus.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_reset-text.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_text-emphasis.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_text-overflow.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_vendor-prefixes.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_alerts.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_buttons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_panels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_pagination.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_list-group.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_nav-divider.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_forms.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_progress-bar.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_table-row.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_background-variant.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_border-radius.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_gradients.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_clearfix.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_center-block.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_nav-vertical-align.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_grid-framework.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/font-awesome/_font-awesome.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_variables.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_mixins.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_path.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_core.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_larger.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_fixed-width.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_list.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_bordered-pulled.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_animated.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_rotated-flipped.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_stacked.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_icons.scss",
        "Corporate/assets/_scss/vendor/font-awesome/font-awesome/_screen-reader.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/normalize/_normalize.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/normalize/_support-for.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_variables.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_vertical-rhythm.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_normalize-mixin.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/owl-carousel/_owl.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.carousel.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.theme.default.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.theme.green.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_core.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_animate.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_autoheight.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_lazyload.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_video.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.default.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.green.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/slick/_slick.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/slick/slick/_slick-default.scss",
        "Corporate/assets/_scss/vendor/slick/slick/_slick-theme.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/_SlideMenus.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_config.variables.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_generic.fonts.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_generic.boxsizing.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.root.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.headings.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.text.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_elements.media.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_objects.layout.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.menus.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.mask.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.buttons.scss",
        "Corporate/assets/_scss/vendor/Slide-and-Push-Menus/menu/_components.carbonad.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_mixins.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_hide-text.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_opacity.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_image.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_labels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_reset-filter.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_resize.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_responsive-visibility.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_size.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_tab-focus.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_reset-text.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_text-emphasis.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_text-overflow.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_vendor-prefixes.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_alerts.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_buttons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_panels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_pagination.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_list-group.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_nav-divider.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_forms.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_progress-bar.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_table-row.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_background-variant.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_border-radius.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_gradients.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_clearfix.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_center-block.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_nav-vertical-align.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_grid-framework.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_theme.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_variables.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/_mixins.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_hide-text.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_opacity.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_image.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_labels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_reset-filter.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_resize.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_responsive-visibility.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_size.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_tab-focus.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_reset-text.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_text-emphasis.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_text-overflow.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_vendor-prefixes.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_alerts.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_buttons.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_panels.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_pagination.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_list-group.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_nav-divider.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_forms.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_progress-bar.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_table-row.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_background-variant.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_border-radius.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_gradients.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_clearfix.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_center-block.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_nav-vertical-align.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_grid-framework.scss",
        "Corporate/assets/_scss/vendor/bootstrap/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/normalize/normalize/_import-now.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/normalize/_normalize.scss",
        "Corporate/assets/_scss/vendor/normalize/_support-for.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_variables.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_vertical-rhythm.scss",
        "Corporate/assets/_scss/vendor/normalize/normalize/_normalize-mixin.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.carousel.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_core.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_animate.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_autoheight.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_lazyload.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_video.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.theme.default.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.default.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/owl-carousel/owl/owl.theme.green.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.green.scss",
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.default.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.scss"
      ]
    },
    {
      "path": "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.green.scss",
      "imports": [
        "Corporate/assets/_scss/vendor/owl-carousel/owl/_theme.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}