
// default-btn

.default-btn{
	line-height: 100%;
	@include button(15px 35px , 2px solid  $secondary-color ,$secondary-border-color );
	text-transform:uppercase;
	margin-top: 20px;
	color:$primary-border-color ; 
	border-radius: 5px;
	@include respond-to(xs-screens){
		padding:10px;
		font-size: 14px;
		margin-top: 30px;
	};
	&:hover{
		border-color:$secondary-border-color ;
		color:rgb(51, 51, 51); 
	}
	i{
		margin-left: 5px;
	}
}