.post-pagination{
	padding-top: 30px;
}
.circle-button {
	width: 85px;
	height: 85px;
	background: #ebebeb;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	margin: auto;
	position: relative;
	z-index: 11;
	text-transform: capitalize;
	padding: 10px;

	a{
		color: #fff;
	    display: block;
	    font-weight: 600;
	    padding: 7px;
	}
	&:before {
	    content: "";
	    top: 5px;
	    left: 5px;
	    right: 5px;
	    bottom: 5px;
	    position: absolute;
	    background:$secondary-color ;
	    z-index: -1;
	    border-radius: 50%;
	    @extend %transition-all ; 
	}
	&:hover{
		a{
			color: $secondary-color ;
		}
		&:before{
			background:$body-bg ;
		}
	}
}