.social-icon{

    @include position-center(vertical)
    // top: 50%;
    left: 0;
    right: 0;
    text-align: center;
	@extend %transition-all ;
	@include respond-to(xs-screens){
		top: 50%;
	};

	a{
	    width: 35px;
	    height: 35px;
	    display: inline-block;
	    color: $cx-body-bg-color;
	    line-height: 35px;
	    text-align: center;
	    @include border-radius(50%)
	    border: 2px solid $cx-body-bg-color;
	    margin: 0 5px;
	    &:hover{
	    	border-color : $cx-secondary-color;
	    	background:$cx-secondary-color;
	    }
	}

}