
.social-icon{
	overflow:hidden ;
	a{
	    width: $cx-social-icon-size;
	    height: $cx-social-icon-size;
	    display: inline-block;
	    line-height: $cx-social-icon-size;
	    text-align: center;
	    margin-right:2px;
	    background-color:$cx-tertiaty-color ;
	    color: $cx-text-color ;
	    float: left;
	    @extend %transition-all ;
	    &:hover{
	    	border-color : $cx-secondary-color;
	    	background:$cx-secondary-color;
	    	color: $cx-body-bg-color ;
	    }
	    &:last-child{
	    	margin-right:0px;
	    }
	}

}