.get-quote {
	text-align: center;
	@extend %vpadding;
	background: url(../img/quote-background.jpg) no-repeat scroll;
	background-position:center;
	background-size: cover;
	@include cx-overlay(rgba(0,0,0,.5));
	.primary-title {
		color: lighten($cx-text-color, 100%);
	}

	.section-intro {
		position:relative;
		color: lighten($cx-text-color, 100%);
	}
}