.get-quote {
	text-align: center;
	@extend %vpadding;
	background-position:center;
	background-size: cover;
	@include cx-background("../img/background/free-quote.jpg");
	background-attachment: fixed;	
	@include cx-overlay(rgba(0,0,0,.6));
	.primary-title {
		color: lighten($cx-text-color, 100%);
	}

	.section-intro {
		position:relative;
		color: lighten($cx-text-color, 100%);
	}
}