.get-quote {
	text-align: center;
	@extend %vpadding;
	background-position:center;
	background-size: cover;
	min-height:300px;
	background: transparent;
	@include cx-overlay(rgba(0,0,0,.6));
	.primary-title {
		color: lighten($cx-text-color, 100%);
	}

	.section-intro {
		position:relative;
		color: lighten($cx-text-color, 100%);
	}
}