.team-section {
	&.offset-bg {
		background: $cx-offset-color;
		@extend %vpadding;
		@extend %mb0;
		margin-top: -($cx-section-spacing);
	}

	.member-wrapper {
		margin-bottom: $cx-col-spacing;
	}
}
