/**
 * layout home-01/ Our Services
 *
 */

.services {
	@extend %vpadding;
	margin-bottom: 0;
}

.flex-eq-height {
	@include media-only(notebook, min) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.no-flexbox .flex-eq-height {
	display: block;
}


.services {
	.flex-eq-height {
		.rb-bordered,
		.bottom-bordered,
		.right-bordered,
		.left-bordered {
			@include media-only(notebook, max) {
				border:0;
			}
		}
	}
}


