/**
 * layout home-01/ Our Services
 *
 */

.services {
	@extend %vpadding;
	margin-bottom: 0;
}

.flex-eq-height {
	@include media-only(notebook, min) {
		display: flex;
		flex-wrap: wrap;
	}
}


.services {
	.flex-eq-height {
		.rb-bordered,
		.bottom-bordered,
		.right-bordered,
		.left-bordered {
			@include media-only(notebook, max) {
				border:0;
			}
		}
	}
}


