/* ===============================================================
CSS indexing 
  01. typography color 
  02. header 
  03. about 
  04. servicex 
  05. team 
  06. testimonial 
  07. blog 
  08. contect 

====================================================*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 0;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* =================================================
01. typography color 

====================================================*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 2em;
  color: #333;
  font-weight: 400;
  background: #fff;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p, ol, table, dl {
  margin-bottom: 10px;
}

dd {
  margin-bottom: 15px;
}

address, blockquote {
  font-style: italic;
}

blockquote {
  font-size: 16px;
}

td, th {
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0 none;
  text-decoration: none;
}

a:focus {
  outline: 0px solid;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* =================================================
02. common section  
====================================================*/
.skill, .team-image > a {
  position: relative;
}

.skill:before, .team-image > a:before {
  content: "";
  background: rgba(160, 120, 120, 0.63);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-menu li a:after, .project-item .img:before, .project-contant, .team-image img, .team-image .social-icon, .team-details, .blog-separator .blog-button:before {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.our-details:before, .our-details:after, .blog-separator:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: -10%;
}

.column-gap-0 {
  padding: 0;
}

.center {
  text-align: center;
}

.section-title {
  text-align: center;
  display: block;
  max-width: 650px;
  margin: 0px auto 50px;
}

.primary-title {
  position: relative;
  padding-bottom: 20px;
  color: #FF404C;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .primary-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .primary-title {
    font-size: 20px;
  }
}

.primary-title:after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FF404C;
  margin: auto;
  width: 45px;
  height: 2px;
}

/*
	default secondary title
*/
.secondary-title {
  color: #FF404C;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .secondary-title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

/*
	default-btn
*/
.default-btn, .contact-form button.submit-button {
  line-height: 100%;
  padding: 15px 20px;
  display: inline-block;
  border: 2px solid #e4e4e4;
  color: #000;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .default-btn, .contact-form button.submit-button {
    padding: 10px;
    font-size: 14px;
    margin-top: 30px;
  }
}

.default-btn:hover, .contact-form button.submit-button:hover {
  border-color: #000;
  color: #000;
}

.default-btn i, .contact-form button.submit-button i {
  margin-left: 10px;
}

/* =================================================
02. header 
====================================================*/
.header, section {
  margin-bottom: 90px;
}

.logo {
  padding: 8px 0;
}

.logo a {
  display: inline-block;
}

.main-menu-area {
  background: #012C40;
  padding: 20px 0;
}

.main-menu {
  display: inline-block;
  float: right;
}

.main-menu li {
  display: inline-block;
}

.main-menu li a {
  padding: 10px 20px;
  display: block;
  color: #fff;
  position: relative;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-menu li a {
    padding: 10px 15px;
  }
}

.main-menu li a:after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FF404C;
  width: 40px;
  height: 2px;
  margin: auto;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.main-menu li a:hover:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*==================end header ======================*/
/* =================================================
03. about 
====================================================*/
.our-details {
  position: relative;
  overflow: hidden;
}

.our-details:before {
  background: #f5f5f5;
  -webkit-transform: scale(1.1) skew(7deg);
  -ms-transform: scale(1.1) skew(7deg);
  transform: scale(1.1) skew(7deg);
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .our-details:before {
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
    right: 0;
  }
}

.our-details:after {
  right: 0;
  left: 50%;
  background-image: url(img/about.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  position: relative;
  z-index: 9;
  padding: 90px 0;
}

/*==================end about ======================*/
/* =================================================
04. servicex 
====================================================*/
@media only screen and (max-width: 767px) {
  .services {
    margin-bottom: 70px;
  }
}

.service-item {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .service-item {
    margin-bottom: 30px;
  }
}

.thmb-icon {
  color: #FF404C;
  font-size: 23px;
  margin-bottom: 20px;
}

.service-name .secondary-title {
  margin-bottom: 16px;
}

/*==================end services ======================*/
/* =================================================
04. skils 
====================================================*/
.skill {
  background-image: url(img/bg-progressbar.jpg);
}

.skill:before {
  background: rgba(0, 0, 0, 0.31);
}

.progressbar {
  width: 20%;
  float: left;
}

/*==================end skils ======================*/
/* =================================================
04. recent project 
====================================================*/
.project-item {
  position: relative;
}

.project-item .img {
  display: block;
  position: relative;
}

.project-item .img:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.76);
  color: #fff;
  opacity: 0;
}

@media only screen and (max-width: 767px) {
  .project-item .img:before {
    opacity: 1;
    content: "";
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
  }
}

.project-item .img img {
  width: 100%;
}

.project-item:hover .img:before {
  content: "";
  display: block;
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  opacity: 1;
}

.project-item:hover .project-contant {
  opacity: 1;
}

.project-contant {
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .project-contant {
    opacity: 1;
  }
}

.project-contant a {
  color: #fff;
}

.project-contant h3 {
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 7px;
  padding-bottom: 15px;
}

.project-contant h3:before {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  margin: auto;
  background: #fff;
}

.project-contant p {
  margin: 0;
  text-transform: uppercase;
}

.btn-portfolio {
  margin-top: 70px;
}

/*==================end recent project ======================*/
/* =================================================
04. call to action  
====================================================*/
.call-to-action {
  background: #000;
  padding: 100px 0;
}

.cta-content {
  text-align: center;
  color: #fff;
}

.cta-content h3 {
  text-transform: uppercase;
}

/*==================end call to action  ======================*/
/* =================================================
05. team 
====================================================*/
.team-section {
  padding-bottom: 10px;
  margin-bottom: 60px;
}

.team-image {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.team-image > a {
  display: block;
}

.team-image > a:before {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

@media only screen and (max-width: 767px) {
  .team-image > a:before {
    opacity: 1;
  }
}

.team-image img {
  width: 100%;
}

.team-image .social-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: -50%;
  left: 0;
  right: 0;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .team-image .social-icon {
    top: 50%;
  }
}

.social-icon a {
  width: 35px;
  height: 35px;
  display: inline-block;
  color: #fff;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
}

.social-icon a + a {
  margin-left: 10px;
}

.social-icon a:hover {
  border-color: #000;
  background: #000;
}

.team-details {
  text-align: center;
  border: 1px solid #e4e4e4;
  padding: 10px;
}

.team-details h2 {
  margin-bottom: 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team-details h2 {
    font-size: 20px;
  }
}

.team-details p {
  margin-bottom: 0;
  text-transform: uppercase;
}

.team-member {
  margin-bottom: 30px;
}

.team-member:hover a:before {
  opacity: 1;
}

.team-member:hover .social-icon {
  top: 50%;
}

.team-member:hover .team-details {
  border-color: #000;
}

/*==================end team section  ======================*/
/* =================================================
06. testimonial 
====================================================*/
.testimonial {
  padding: 100px  0;
  background: #000;
}

.testimonial-wrap {
  text-align: center;
}

.testimonial-wrap .secondary-title {
  color: #fff;
  margin-bottom: 30px;
}

.testimonial-wrap .testimonial-item p {
  color: #7b7b7b;
}

.testimonial-wrap .client-name {
  margin: 0;
  color: #FF404C;
}

.testimonial-wrap .website-link {
  margin: 0;
}

.testimonial-wrap .website-link a {
  color: #26a6cd;
}

.testimonial-wrap .slick-dots {
  bottom: -34px;
}

.testimonial-wrap .slick-dots li {
  width: auto;
  height: inherit;
}

.testimonial-wrap .slick-dots li button {
  position: relative;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #fff;
  width: 5px;
  height: 5px;
}

.testimonial-wrap .slick-dots li.slick-active button {
  background: #fff;
}

.testimonial-wrap .slick-dots li.slick-active button:before {
  content: "";
}

.testimonial-wrap .slick-slide:focus {
  border: 0;
  outline: 0;
}

.testimonial-wrap .slick-dotted.slick-slider {
  margin-bottom: 30px;
  padding-bottom: 25px;
}

/*==================end testimonial  section  ======================*/
/* =================================================
07. blog 
====================================================*/
.blog-section {
  margin-bottom: 99px;
}

.post-thambnail-img img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .blog-post-content {
    margin-top: 20px;
  }
}

.blog-post-content .post-date {
  text-transform: capitalize;
  margin: 0;
  color: #FF404C;
  line-height: 20px;
  margin-bottom: 10px;
}

.blog-post-content a {
  color: #333;
}

.blog-post-content a:hover {
  color: #FF404C;
}

.blog-item {
  margin-bottom: 60px;
}

.blog-item .blog-image {
  padding-right: 30px;
  position: relative;
}

.blog-item .blog-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  z-index: 9999;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .blog-item .blog-image:after {
    content: none;
  }
}

.left-thmb .blog-image {
  padding-right: 30px;
}

@media only screen and (max-width: 767px) {
  .left-thmb .blog-image {
    padding-right: 15px;
  }
}

.left-thmb .blog-content {
  padding-left: 30px;
}

@media only screen and (max-width: 767px) {
  .left-thmb .blog-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.right-thmb .blog-post-content {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .right-thmb .blog-post-content {
    text-align: left;
  }
}

.right-thmb .blog-content {
  padding-right: 30px;
}

@media only screen and (max-width: 767px) {
  .right-thmb .blog-content {
    padding-right: 15px;
  }
}

.right-thmb .blog-image {
  padding-left: 30px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .right-thmb .blog-image {
    padding-left: 15px;
  }
}

.right-thmb .blog-image:after {
  left: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.blog-separator {
  position: relative;
}

.blog-separator:before {
  left: 50%;
  right: initial;
  width: 2px;
  background: #ebebeb;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {
  .blog-separator:before {
    content: none;
  }
}

.blog-separator .blog-button {
  width: 70px;
  height: 70px;
  background: rgba(122, 107, 100, 0.68);
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  margin: auto;
  position: relative;
  z-index: 11;
  text-transform: capitalize;
  padding: 10px;
}

.blog-separator .blog-button a {
  color: #fff;
  display: block;
}

.blog-separator .blog-button:before {
  content: "";
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  position: absolute;
  background: #FF404C;
  z-index: -1;
  border-radius: 50%;
}

.blog-separator .blog-button:hover a {
  color: #FF404C;
}

.blog-separator .blog-button:hover:before {
  background: #ebebeb;
}

.gallery-carosel .slick-arrow {
  z-index: 99;
}

.gallery-carosel .slick-arrow.slick-next {
  right: 10px;
}

.gallery-carosel .slick-arrow.slick-next:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 35px;
}

.gallery-carosel .slick-arrow.slick-prev {
  left: 10px;
}

.gallery-carosel .slick-arrow.slick-prev:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 35px;
}

/*==================end blog  section  ======================*/
/* =================================================
  08. contact 
====================================================*/
.contact-section {
  background: #f5f5f5;
  padding: 90px 0;
  margin-bottom: 0;
}

.name-email .form-group {
  display: block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 50%;
  float: left;
}

.name-email .form-group input {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .name-email .form-group {
    width: 100%;
  }
}

.name-email .sender-name input, .name-email .sender-email input {
  width: 95%;
  border: 0;
  height: 60px;
  border-top: 2px solid #000;
  border-radius: 0;
}

@media only screen and (max-width: 767px) {
  .name-email .sender-name input, .name-email .sender-email input {
    width: 100%;
  }
}

.name-email .sender-name input {
  float: left;
}

.name-email .sender-email input {
  float: right;
}

.contact-form .message {
  width: 100%;
  margin-top: 30px;
}

.contact-form textarea {
  width: 100%;
  border: 0;
  border-top: 2px solid #000;
  height: 150px;
  border-bottom: 1px solid #000;
}

.contact-form input, .contact-form textarea {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.contact-form input:focus, .contact-form textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.contact-form .button-wrap {
  text-align: center;
}

.contact-form button.submit-button {
  padding: 8px 40px;
  background: transparent;
  text-transform: capitalize;
}

/*==================end contact  section  ======================*/
/* =================================================
  08. footer 
====================================================*/
footer {
  padding-top: 90px;
  background: #012C40;
  color: #929292;
}

.footer-logo {
  margin-bottom: 30px;
}

.list-element h2 {
  color: #fff;
}

.footer-title {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.list-element li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #FF404C;
}

.list-element li p {
  margin: 0;
}

.list-element li a {
  color: #8d8d8d;
}

.list-element .publish-date {
  color: #5f5f5f;
}

.list-element .publish-date a {
  color: #FF404C;
}

.footer-content i {
  margin-right: 10px;
}

.copyright-section {
  text-align: center;
  padding: 20px 0;
  background: #1c1c1c;
}

.copyright-section p {
  margin: 0;
}

/*==================end footer  section  ======================*/
