$cx-text-color: 						#545454;
$cx-body-bg-color: 						#fff;

$cx-primary-color:  					#2494e0;
$cx-secondary-color: 					#fe7a4a;
$cx-tertiary-color:						#0c3e73;
$cx-fourth-color: 						#f9b808;

$cx-offset-color:						#f7f7f7;


$cx-border-color:						#ccc;

$cx-link-color: 						$cx-primary-color;
$cx-link-hover-color: 					$cx-secondary-color;

@import "../styles";