// typography 
// $cx-body-font: 							'Open Sans', sans-serif !default;
// $cx-heading-font: 						'PT Sans', sans-serif !default;


// Colors
$cx-text-color: 						#454545; // black
$cx-body-bg-color: 						#fff; // white 

$cx-primary-color:  					#01578F; // teal
$cx-secondary-color: 					#F4B750; // light red
$cx-tertiary-color:						#6B83A8; // dark teal
$cx-fourth-color: 						#f9b808;  // Yellow type

$cx-offset-color:						lighten($cx-tertiary-color, 41%); // offwhite
//$cx-offset-color:						lighten($cx-primary-color,52%); // offwhite


$cx-border-color:						#aaa; // light gray

$cx-link-color: 						$cx-primary-color;
$cx-link-hover-color: 					$cx-secondary-color;

// line height  
// $cx-body-font-size: 					16px !default;
// $cx-body-line-height: 					1.6em !default;
// $cx-body-font-weight : 					400 !default;

// $cx-social-icon-size-small: 			26px !default;
// $cx-social-icon-size-large: 			35px !default;


// default speacing 
// $cx-heading-margin-bottom : 			25px !default;


// $cx-section-spacing:	 				90px !default;
// $cx-col-spacing:						0.5*$cx-section-spacing !default; // will be used as bottom margin for the items on tablet and mobile

// default transition 
// $cx-transition: 						all 0.3s ease !default;

//* screen size */
//* screen min width */

// $cx-lg-screen:							1200px !default;
// $cx-md-screen: 							992px !default;
// $cx-sm-screen:							768px !default;
// $cx-vsm-screen:							480px !default;

// $cx-breakpoints: (
//     "wide":    							$cx-lg-screen,
//     "notebook":    						$cx-md-screen,
//     "tablet":    						$cx-sm-screen,
//     "small-mobile": 					$cx-vsm-screen, 
// );


@import "../styles";