$cx-text-color: 						#4E4A41; 
$cx-body-bg-color: 						#fff;

$cx-primary-color:  					#29658A; 
$cx-secondary-color: 					#2D9CCA; 
$cx-tertiary-color:						#25274D; 
$cx-fourth-color: 						#f9b808; 

$cx-offset-color:						#f7f7f7; 



$cx-border-color:						#ccc; // light gray

$cx-link-color: 						$cx-primary-color;
$cx-link-hover-color: 					$cx-secondary-color;

@import "../styles";