$cx-text-color: 						#666;
$cx-body-bg-color: 						#fff;

$cx-primary-color:  					#775BA3;
$cx-secondary-color: 					#F98A5F;
$cx-tertiary-color:						#442D65;
$cx-fourth-color: 						#f9b808;

$cx-offset-color:						#f7f7f7;
$cx-border-color:						#ccc;

$cx-link-color: 						$cx-primary-color;
$cx-link-hover-color: 					$cx-secondary-color;

@import "../styles";