$cx-text-color: 						#545454; // black
$cx-body-bg-color: 						#fff; // white 

$cx-primary-color:  					#798F9D;
$cx-secondary-color: 					#FF7374;
$cx-tertiary-color:						#142B43;
$cx-fourth-color: 						#f9b808;

$cx-offset-color:						lighten($cx-primary-color, 41%);



$cx-border-color:						#ccc; // light gray

$cx-link-color: 						$cx-primary-color;
$cx-link-hover-color: 					$cx-secondary-color;

@import "../styles";