// typography 
$cx-body-font: 'Roboto', sans-serif;
$cx-heading-font: 'Exo 2', sans-serif;
// $cx-tertiary-font: 'Raleway', sans-serif; 

// Colors
$cx-text-color: #333;
$cx-body-bg-color: #fff; // white 

$cx-primary-color:  #1ca5b8; // teal
$cx-secondary-color: #ff646c; // light red
$cx-tertiaty-color:#0b4249; // dark teal


$cx-border-color: #ccc;

$cx-link-color: $cx-primary-color;
$cx-link-hover-color: $cx-secondary-color;

// line height  
$cx-body-font-size: 16px;
$cx-body-line-height: 1.65em;
$cx-body-font-weight : 400 ;

$cx-social-icon-size: 26px ;

// default speacing 
$cx-vpadding: 40px;
$cx-button-padding : 15px 20px ;
$cx-heading-margin-bottom : 25px ;

$cx-section-speacing : 90px ;
// default transition 
$cx-transition: all 0.3s ease ;

//* screen size */
//* screen min width */

$cx-large-screen:1200px;
$cx-medium-screen: 992px;
$cx-tablet-screen:768px;
$cx-sm-medium-screen:480px;

$cx-breakpoints: (
    "larg-screen":     $cx-large-screen,
    "mediam-screen":    $cx-medium-screen,
    "tablet-screen":      $cx-tablet-screen,
    "sm-medium-screen": $cx-sm-medium-screen, 
);




