
// typography 
$cx-body-font: 'Raleway', sans-serif; 

$cx-heading-font: 'Raleway', sans-serif; 

$cx-tertiary-font: 'Raleway', sans-serif; 
// Colors

$cx-border-color: #ccc;

$cx-text-color: #333 ;

$cx-body-bg-color: #fff ; // white 

$cx-primary-color:  #012C40 ;

$cx-secondary-color: #FF404C ;

$cx-tertiaty-color:#f5f5f5 ; 
// #ebebeb
$cx-primary-border-color:	 #000; 

$cx-secondary-border-color: #e4e4e4	 ; 

$cx-team-overlay-color: rgba(0, 0, 0, 0.9);


$cx-link-color: $cx-primary-color;

$cx-link-hover-color: $cx-secondary-color;

// line height  
$cx-body-font-size: 16px;

$cx-body-line-height: 1.65em;

$cx-body-font-weight : 400 ;


// default speacing 
$cx-vpadding: 40px;
$cx-button-padding : 15px 20px ;
$cx-heading-margin-bottom : 25px ;

$cx-section-speacing : 90px ;
// default transition 
$cx-transition: all 0.3s ease ;

//* screen size */
//* screen min width */

$cx-large-screen:1200px;

$cx-medium-screen: 992px;

$cx-tablet-screen:768px;

$cx-sm-medium-screen:480px;

$cx-breakpoints: (
    "larg-screen":     $cx-large-screen,
    "mediam-screen":    $cx-medium-screen,
    "tablet-screen":      $cx-tablet-screen,
    "sm-medium-screen": $cx-sm-medium-screen, 
);




