
/* ===============================================================
CSS indexing 
  01. typography color 
  02. header 
  03. about 
  04. servicex 
  05. team 
  06. testimonial 
  07. blog 

====================================================*/
@import 'lib/variables';
@import 'lib/partials';
@import 'lib/mixins';
@import 'lib/function';

/* =================================================
01. typography color 

====================================================*/
@import 'theme/skin/typography';
@import 'theme/skin/color';
/* =================================================
02. common section  
====================================================*/
@import 'theme/common';

/* =================================================
02. header 
====================================================*/
@import 'theme/header';
/*==================end header ======================*/

/* =================================================
03. about 
====================================================*/
@import 'theme/about';
/*==================end about ======================*/

/* =================================================
04. servicex 
====================================================*/
@import 'theme/services';
/*==================end services ======================*/

/* =================================================
04. skils 
====================================================*/
@import 'theme/skils';
/*==================end skils ======================*/

/* =================================================
04. recent project 
====================================================*/
@import 'theme/recent-project';
/*==================end recent project ======================*/

/* =================================================
04. call to action  
====================================================*/
@import 'theme/cta-content';
/*==================end call to action  ======================*/
/* =================================================
05. team 
====================================================*/
@import 'theme/team';
/*==================end team section  ======================*/

/* =================================================
06. testimonial 
====================================================*/
@import 'theme/testimonial';
/*==================end testimonial  section  ======================*/
/* =================================================
07. blog 
====================================================*/
@import 'theme/blog';
/*==================end blog  section  ======================*/


.skill_p {
  margin: 20px;
  width: 100px;
  height: 100px;
  position: relative;
}