html,
body {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

section {
	margin-bottom: $cx-section-spacing;
	display: block;
	width:100%;
	float:none;
	clear:both;
}


.lead {
	font-size: 19px;
}

.slick-slide {
	outline: none;
}

.whole-wrapper {
	@extend %clearfix;
}

#primary,
#sidebar {
	margin-bottom: $cx-section-spacing;
}

.pswp button:hover {
	background-color: inherit;
}

.pswp__caption__center {
	text-align: center;
	i,
	p {
		display: none;
	}

	.primary-title {
		display: inline-block;
		text-align: center;
		text-transform: capitalize;
		margin: 0;
		padding: 0;
	    font-size: 1em;
	    font-weight: normal;

		a {
			color: lighten($cx-primary-color, 100%);

		}
	}
}
