%default-heading{
    font-family: $cx-heading-font ;
    line-height: 1.2em;
    margin-bottom: $cx-heading-margin-bottom;
    margin-top:  0;

}


///* top and bottom padding of a section, $cx-vpadding variable is coming from _variables.scss */

%section-vpadding {
	padding-top: $cx-vpadding;
	padding-bottom: $cx-vpadding;
}

///* Vertically and Horizantally Centering */
%display-flex{
	display:flex;
}
%vhcenter {
	@extend %display-flex ;
	align-items: center;
	justify-content: center;
}


///* Only vertical centering */

%vcenter {
	@extend %display-flex ;
	align-items: center;	
}

%flex_end {
	@extend %display-flex ;
	justify-content:  flex-end ;
}

