// helpers

%margin-0 {
	margin:0;
}

%padding-0 {
	padding:0;
}

%pt0 {
	padding-top:0;
}

%pb0 {
	padding-bottom:0;
}

%mt0 {
	margin-top:0;
}

%mb0 {
	margin-bottom:0;
}

%vpadding {
	padding-top: $cx-section-spacing;
	padding-bottom: $cx-section-spacing;
}



///* Vertically and Horizantally Centering */
%display-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
%vhcenter {
	@extend %display-flex ;
	align-items: center;
	justify-content: center;
}


///* Only vertical centering */

%vcenter {
	@extend %display-flex ;
	align-items: center;	
}

%flex_end {
	@extend %display-flex ;
	justify-content:  flex-end ;
}

