.contact-intro {
	@extend %pt0;
	padding-bottom: $cx-section-spacing;
	@extend %mb0;
	p,
	.section-intro {
		@extend %mb0;
	}
}

.contact-boxes {
	margin-top: -100px;
}

.map-location {
	@extend %mb0;
}

.contact-fun {
	background-image: none;
	@include cx-overlay(rgba($cx-tertiary-color, .9));
	.counter-icon {
		display: none;
	}
	@extend %mb0;
}