
.about{
	background:lighten($cx-primary-color,55%) ;
	&.mb-35{
		@include respond-to(tablet){
			margin-bottom: 0 ;
		}
	}
}
.transparent-background{
	background:transparent ;
}
.content{
	position: relative;
    z-index: 9;
    h3{
    	text-transform: uppercase;
    }
    p{
    	&:last-child{
    		margin-bottom: 0 ;
    	}
    }
}
.image.no-padding{
	padding:0 ;
}
.image{
	
	@include respond-to(tablet){
		margin-top: 85px;
	}
	img{
		@include respond-to(mobile){
			width: 100%;
		}
	}
	
	padding:10px;
	background:lighten($cx-primary-color,52%);

}