.blog-section{
	margin-bottom:99px;
}
.blog-separator {}
.post-thambnail-img {
	img{
		width: 100%;
	}
}
.blog-post-content {
	@include respond-to(xs-screens){
		margin-top:20px ;
	};
	.post-date{
		text-transform: capitalize;
		margin:0 ;
		color: $secondary-color ;
		line-height: 20px;
    	margin-bottom: 10px;
	}
	a{
		color: #333 ;
		&:hover{
			color: $secondary-color ;
		}
	}
}
.blog-item {
    margin-bottom: 60px;
    .blog-image{
		
    	position:relative;
    	&:after{ 
    		content: "";
		    position: absolute;
		    top: 0;
		    right: 0;
		    width: 20px;
		    height: 20px;
		    background: #ebebeb;
		    z-index: 9999;
		    transform: translateX(50%);
		    border-radius: 50%;
		    @include respond-to(xs-screens){
				content: none;
			};
    	}
	}
}

.left-thmb{
	.blog-image{
		padding-right:30px;
		@include respond-to(xs-screens){
			padding-right:15px;
		};
	}
	.blog-content{
		padding-left:30px;
		@include respond-to(xs-screens){
			padding-left:15px;
			padding-right:15px;

		};
	}
}
.right-thmb{
	.blog-post-content{
		text-align: right;
		@include respond-to(xs-screens){
			text-align: left;
		};
	}
	.blog-content{
		padding-right:30px;
		@include respond-to(xs-screens){
			padding-right:15px;
		};
	}
	.blog-image{
		padding-left:30px;
		position:relative;
		@include respond-to(xs-screens){
			padding-left:15px;
		};
    	&:after{ 
		    left: 0;
		    transform: translateX(-50%);
    	}
	}
}
.blog-separator{
	position:relative;
	&:before{
		@extend %before ;
	    left: 50%;
	    right: initial;
	    width: 2px;
	    background: #ebebeb;
	    transform: translateX(-50%);
	    bottom: 10px;
	    @include respond-to(xs-screens){
				content: none;
		};
	}

}
.gallery-carosel{
	.slick-arrow{
		z-index: 99;
	}
	.slick-arrow.slick-next {
		right: 10px;
		&:before {
		    content: "\f105";
		    font-family: FontAwesome;
		    font-size: 35px;
		}
	}
	.slick-arrow.slick-prev {
		left: 10px;
		&:before {
			content: "\f104";
			font-family: FontAwesome;
			font-size: 35px;
		}
	}
}
.post-pagination{
	overflow: hidden;
}