.blog-section{

}
.blog-item {
	.post-content {
	    padding:30px;
	    border: 1px solid #ccc;
	    border-top: 0px solid ;
	    p{
	    	margin:  0 ;
	    }
	}
	.default-btn{
		display: none;
		background: transparent;
		color: $cx-text-color ;
	    border: 1px solid #ccc;
		&:hover{
			background:$cx-secondary-color ;
			color: #fff ;
	    	border-color: $cx-secondary-color;

		}
	}

}
.post-image{
	position:relative ;
	.post-date{
		position: absolute;
		top: 15px;
		left: 15px;
		color: #fff;
		text-align: center;
		border-radius: 8%;
		overflow: hidden;
	}
	.date,.month{
		display: block;
		background: $cx-tertiaty-color;
		font-size: 24px;
    	padding: 5px 12px;
	}
	.date{

	}
	.month{
		background: darken($cx-tertiaty-color , 20%);
		font-size: 16px;
	}
}
.post-title{
	a{
		font-size: 20px;
	}
}
.post-carousel{
	.slick-arrow {
	    bottom: -40px;
	    top: inherit;
	    background: transparent;
	    border:1px solid $cx-primary-color;
	    &.slick-next{
	    	left: calc(50% + 15px);
	    }
	    &.slick-prev{
		    left: calc(50% - 15px);
		}
		&:before{
			color: $cx-primary-color;
		}
	}
	

}


