
.counter-section{
	background-image: url(../img/counter-up.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .primary-title {
    	color: lighten($cx-text-color, 100%);
    }
    @include section-overly(rgba($cx-tertiary-color,0.92));
}

.counter-item {
	text-align:center;
	width: 20%;
	float: left;
	padding: 0 25px;
	color: lighten($cx-text-color, 100%);
	@include respond-to(xs){
		width: 100%;
		margin-bottom: 35px;
	}
}
.counter-icon{
	margin-bottom: 30px;
	i{
		width: 86px;
		height: 86px;
		font-size: 46px;
		border-radius: 50%;
		border: 2px solid lighten($cx-text-color, 80%);
		line-height: 86px;
		display: inline-block;
		@include respond-to(sm){
			width: 60px;
    		height: 60px;
    		font-size: 30px;
    		line-height: 60px;
		}
	}
}
.counter-item{
	.counter {
	    font-size: 50px;
    	line-height: 100%;
    	font-weight: bold;
    	@include respond-to(sm){
			font-size: 35px;
		}
	}
	.counter-text {
		text-transform: uppercase;
		font-size: 14px;
    	margin-bottom: 0;

	}
	@include respond-to(sm){
		padding: 0 15px;
	}
}
