footer{
	padding-top: $cx-section-padding-top;
	background: $cx-primary-color;
	color: lighten($cx-text-color, 100%);
}

.footer-title{
	margin-bottom:35px;
	color: lighten($cx-text-color, 100%);
	font-size: 20px;
	text-transform:uppercase;
	&.title-bar{
		padding-bottom: 10px
	}
}

.address{
	margin-top: 25px;
	p {
	    margin: 10px 0;
	}
	span{

	}
	i{

    }

}








.list-element.twiter-feeds{
	.publish-date{
		text-transform: unset;
	}
}

.footer-content{
	p{}
	i{
		margin-right: 10px;	
	}
}
.copyright-section{
	text-align: center;
    padding: 20px 0;
    background: $cx-tertiary-color;
    p{
    	margin: 0;
    	color: lighten($cx-text-color, 100%);
    }
}