footer{
	padding-top: 90px;
	background: $primary-color ;
	color:#929292;
}
.footer-logo{
	margin-bottom:30px;
}

.footer-title{


	margin-bottom:50px;
	color: #fff ;
	font-size: 20px;
	text-transform:uppercase;
}

.list-element.twiter-feeds{
	.publish-date{
		text-transform: unset;
	}
}

.footer-content{
	p{}
	i{
		margin-right: 10px;	
	}
}
.copyright-section{
	text-align: center;
    padding: 20px 0;
    background: #1c1c1c;
    p{
    	margin: 0;
    }
}