footer{
	padding-top: $cx-section-padding-top;
	background: $cx-primary-color;
	color: lighten($cx-text-color, 100%);
}

.footer-title{
	margin-bottom:35px;
	color: lighten($cx-text-color, 100%);
	font-size: 20px;
	text-transform:uppercase;
	&.title-bar{
		padding-bottom: 10px
	}
}

.address{
	margin-top: 25px;
	p {
	    margin: 10px 0;
	}
	span{

	}
	i{

    }

}


.footer-content{
	p{}
	i{
		margin-right: 10px;	
	}
	.social-icon {
		a{
			background:transparent ;
			color: lighten($cx-text-color, 100%); 
			font-size: 20px;
		}
		i{
			margin-right: 0 ;
			
		}
	}
}
.copyright-section{
	text-align: center;
    padding: 20px 0;
    background: $cx-tertiary-color;
    p{
    	margin: 0;
    	color: lighten($cx-text-color, 100%);
    }
}
.list-element {
	li{
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 15px;
	}
	a{
		color: lighten($cx-text-color, 100%);
		text-transform: capitalize;
	}
}