.logo {
	max-width:235px;
	a{
		display: inline-block;
	}
}
.header-wrapper {
	background: lighten($cx-body-bg-color, 100%);
	position:relative;
	.contact-info {
		text-align: right;
		float: right;
		margin-right: -15px;
		margin-top: 25px;
	}
}

.header-inline{
    padding: 15px 0;
}