.recent-project{}
.project-item{
	position:relative;
	.img{
		display: block;
		position:relative;
		&:before{
			@include  absolute-position(0,0,0,0);
		    background: rgba(0, 0, 0, 0.76);
		    color: #fff;
		    opacity: 0 ;
			@extend %transition-all ;
			@include respond-to(xs-screens){
				 opacity: 1;
				 @include  absolute-position(5%,5%,5%,5%);
			};
		}
		img{
			width: 100% ;
		}
	}
	&:hover{
		.img {
			&:before{
				@include  absolute-position(5%,5%,5%,5%);
				opacity: 1 ;
			}
		}
		.project-contant{
			opacity: 1 ;
		}
	}
}
.project-contant{
	opacity:0 ;
	color: #fff ;
	@include position-center(both);
	max-width: 80%;
	text-align: center;
	@extend %transition-all ;
		@include respond-to(xs-screens){
			 opacity: 1;
		};

	a{
		color: #fff ;
	}
	h3{
		font-size: 15px;
		text-transform: uppercase;
		position:relative;
		margin-bottom: 7px;
		padding-bottom: 15px;
		&:before{
			@include  absolute-position(auto,0,0,0);
			width: 30px;
			height: 2px;
			margin:auto;
			background:$body-bg-color ;
		}
	}
	p{
		margin: 0 ;
		// line-height: 1em;
		text-transform: uppercase;
	}
}
.btn-portfolio{
	margin-top:70px;
}