.services{
	@include respond-to(xs-screens){
		margin-bottom: 70px;
	};
}
.service-item{
	text-align:center;
	overflow:hidden ;
	margin-bottom: 5px;
		@include respond-to(xs-screens){
		margin-bottom: 40px;
	};
}
.thmb-icon{
	color:$secondary-color ;
	font-size: 23px;
	margin-bottom: 30px;
}
.service-content{
	p:last-child{
		margin: 0;
	}

}