.slider-section {
	width:100%;
	overflow: hidden;
	float:none;
	clear:both;
	display: block;
	.slide-single {
		h1,h2,h3,h4,h5,h6 {
			color:#fff;
		}
		color:#fff;
		height:500px;
		img {
			display: none;
		}
		.container {
		    top: 50%;
		    position: relative;
		    -webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		    transform: translateY(-50%);
		}

		@include cx-overlay(rgba(0,0,0,.5));
		.default-btn {
			border-color: #fff;
			color: #fff;
			&:hover {
				border-color: $cx-secondary-color;
			}
		}
	}

}