
.member-wraper{
	 @include respond-to(large-mobile){
        width: 50%;
        float: left;
        @include box-sizing(border-box);
    }

    @include media-only(700px, min) {
    	background: red;
    }
}



