
.testimonial{
	padding:100px  0; 
	background:#000 ;
}
.testimonial-wrap {
    text-align: center;
}
.testimonial-wrap{
	.secondary-title{
		color: $body-bg-color;
	}
	.testimonial-item{
		p{
			color: #7b7b7b ;
		}
		
	}
	.client-name{
		margin:0 ;
		color: $secondary-color;
		margin-bottom: 15px;
	}
	.website-link{
		margin:0 ;
		a{
			color: #26a6cd ;
		}
	}

}
.client-meta{
	margin-top:35px;
}